@model TravelExpert.GUI.Models.CurrentUser;
@{
    ViewData["Title"] = "Login";
}
<h3>Login</h3>
<form asp-action="Login">
    <table class="table">
        <tr>
            <td>UserName:</td>
            <td><input type="text" asp-for="UserName" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" asp-for="CustPwd" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Authenticate" class="btn btn-primary" /></td>
        </tr>
    </table>
</form>