
@{
    ViewData["Title"] = "Login";
}


<!--my account area start-->
<div class="my_account_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="account_heading">
                    <h1>My Account</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="all_cntnt">
                    <div class="frm_content">
                        <h2>Login</h2>
                    </div>
                    <form>
                        <div class="al_form-fields">
                            <p>
                                <label>
                                    Username or email address
                                    <span class="required">*</span>
                                </label>
                                <input type="text">
                            </p>
                            <p>
                                <label>
                                    Password
                                    <span class="required">*</span>
                                </label>
                                <input type="password">
                            </p>
                        </div>
                        <div class="form-action">
                            <div class="new_act new_act_3">
                                <a class="button_act button_act_3">Login</a>
                                <label>
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <p class="lost_password">
                                <a href="#">Lost your password?</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="all_cntnt">
                    <div class="frm_content">
                        <h2>Register</h2>
                    </div>
                    <form>
                        <div class="al_form-fields">
                            <p>
                                <label>
                                    Username or email address
                                    <span class="required">*</span>
                                </label>
                                <input type="text">
                            </p>
                            <p>
                                <label>
                                    Password
                                    <span class="required">*</span>
                                </label>
                                <input type="password">
                            </p>
                        </div>
                        <div class="form-action">
                            <div class="new_act new_act_3">
                                <a class="button_act button_act_3">Register</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="new-meta">
            <a class=" btn btn-default btn-default-tf" href="">
                <i class="fa fa-pencil"></i>
            </a>
        </div>
    </div>
</div>
<!--my account area end-->
